hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape{
        display: block;
    }

    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza);
        margin-bottom: 2em;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        gap: .5em;
        margin-bottom: .5em;
    }

    .lista-rodape__link {
        text-decoration: none;
        font-size: 14px;
        color: var(--cinza-escuro);
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em;
    }
}